<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AEacute</key>
	<string>AE</string>
	<key>AEmacron</key>
	<string>AE</string>
	<key>Aacute</key>
	<string>A</string>
	<key>Abreve</key>
	<string>A</string>
	<key>Abreve-cy</key>
	<string>A-cy</string>
	<key>Abreveacute</key>
	<string>A</string>
	<key>Abrevedotbelow</key>
	<string>A</string>
	<key>Abrevegrave</key>
	<string>A</string>
	<key>Abrevehookabove</key>
	<string>A</string>
	<key>Abrevetilde</key>
	<string>A</string>
	<key>Acaron</key>
	<string>A</string>
	<key>Acircumflex</key>
	<string>A</string>
	<key>Acircumflexacute</key>
	<string>A</string>
	<key>Acircumflexdotbelow</key>
	<string>A</string>
	<key>Acircumflexgrave</key>
	<string>A</string>
	<key>Acircumflexhookabove</key>
	<string>A</string>
	<key>Acircumflextilde</key>
	<string>A</string>
	<key>Adblgrave</key>
	<string>A</string>
	<key>Adieresis</key>
	<string>A</string>
	<key>Adieresis-cy</key>
	<string>A-cy</string>
	<key>Adieresismacron</key>
	<string>A</string>
	<key>Adotaccent</key>
	<string>A</string>
	<key>Adotbelow</key>
	<string>A</string>
	<key>Adotmacron</key>
	<string>A</string>
	<key>Agrave</key>
	<string>A</string>
	<key>Ahookabove</key>
	<string>A</string>
	<key>Ainvertedbreve</key>
	<string>A</string>
	<key>Alphadasia</key>
	<string>Alpha</string>
	<key>Alphadasiaoxia</key>
	<string>Alpha</string>
	<key>Alphadasiaoxiaprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphadasiaperispomeni</key>
	<string>Alpha</string>
	<key>Alphadasiaperispomeniprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphadasiaprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphadasiavaria</key>
	<string>Alpha</string>
	<key>Alphadasiavariaprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphamacron</key>
	<string>Alpha</string>
	<key>Alphaprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphapsili</key>
	<string>Alpha</string>
	<key>Alphapsilioxia</key>
	<string>Alpha</string>
	<key>Alphapsilioxiaprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphapsiliperispomeni</key>
	<string>Alpha</string>
	<key>Alphapsiliperispomeniprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphapsiliprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphapsilivaria</key>
	<string>Alpha</string>
	<key>Alphapsilivariaprosgegrammeni</key>
	<string>Alpha</string>
	<key>Alphatonos</key>
	<string>Alpha</string>
	<key>Alphavaria</key>
	<string>Alpha</string>
	<key>Alphavrachy</key>
	<string>Alpha</string>
	<key>Amacron</key>
	<string>A</string>
	<key>Aogonek</key>
	<string>A</string>
	<key>Aring</key>
	<string>A</string>
	<key>Aringacute</key>
	<string>A</string>
	<key>Aringbelow</key>
	<string>A</string>
	<key>Atilde</key>
	<string>A</string>
	<key>Bdotaccent</key>
	<string>B</string>
	<key>Bdotbelow</key>
	<string>B</string>
	<key>Bmacronbelow</key>
	<string>B</string>
	<key>Cacute</key>
	<string>C</string>
	<key>Ccaron</key>
	<string>C</string>
	<key>Ccedilla</key>
	<string>C</string>
	<key>Ccedillaacute</key>
	<string>C</string>
	<key>Ccircumflex</key>
	<string>C</string>
	<key>Cdotaccent</key>
	<string>C</string>
	<key>Chedieresis-cy</key>
	<string>Che-cy</string>
	<key>Dcaron</key>
	<string>D</string>
	<key>Dcedilla</key>
	<string>D</string>
	<key>Dcircumflexbelow</key>
	<string>D</string>
	<key>Ddotaccent</key>
	<string>D</string>
	<key>Ddotbelow</key>
	<string>D</string>
	<key>Dmacronbelow</key>
	<string>D</string>
	<key>Eacute</key>
	<string>E</string>
	<key>Ebreve</key>
	<string>E</string>
	<key>Ecaron</key>
	<string>E</string>
	<key>Ecedilla</key>
	<string>E</string>
	<key>Ecedillabreve</key>
	<string>E</string>
	<key>Ecircumflex</key>
	<string>E</string>
	<key>Ecircumflexacute</key>
	<string>E</string>
	<key>Ecircumflexbelow</key>
	<string>E</string>
	<key>Ecircumflexdotbelow</key>
	<string>E</string>
	<key>Ecircumflexgrave</key>
	<string>E</string>
	<key>Ecircumflexhookabove</key>
	<string>E</string>
	<key>Ecircumflextilde</key>
	<string>E</string>
	<key>Edblgrave</key>
	<string>E</string>
	<key>Edieresis</key>
	<string>E</string>
	<key>Edieresis-cy</key>
	<string>Ereversed-cy</string>
	<key>Edotaccent</key>
	<string>E</string>
	<key>Edotbelow</key>
	<string>E</string>
	<key>Egrave</key>
	<string>E</string>
	<key>Ehookabove</key>
	<string>E</string>
	<key>Einvertedbreve</key>
	<string>E</string>
	<key>Emacron</key>
	<string>E</string>
	<key>Emacronacute</key>
	<string>E</string>
	<key>Emacrongrave</key>
	<string>E</string>
	<key>Eogonek</key>
	<string>E</string>
	<key>Epsilondasia</key>
	<string>Epsilon</string>
	<key>Epsilondasiaoxia</key>
	<string>Epsilon</string>
	<key>Epsilondasiavaria</key>
	<string>Epsilon</string>
	<key>Epsilonpsili</key>
	<string>Epsilon</string>
	<key>Epsilonpsilioxia</key>
	<string>Epsilon</string>
	<key>Epsilonpsilivaria</key>
	<string>Epsilon</string>
	<key>Epsilontonos</key>
	<string>Epsilon</string>
	<key>Epsilonvaria</key>
	<string>Epsilon</string>
	<key>Etadasia</key>
	<string>Eta</string>
	<key>Etadasiaoxia</key>
	<string>Eta</string>
	<key>Etadasiaoxiaprosgegrammeni</key>
	<string>Eta</string>
	<key>Etadasiaperispomeni</key>
	<string>Eta</string>
	<key>Etadasiaperispomeniprosgegrammeni</key>
	<string>Eta</string>
	<key>Etadasiaprosgegrammeni</key>
	<string>Eta</string>
	<key>Etadasiavaria</key>
	<string>Eta</string>
	<key>Etadasiavariaprosgegrammeni</key>
	<string>Eta</string>
	<key>Etaprosgegrammeni</key>
	<string>Eta</string>
	<key>Etapsili</key>
	<string>Eta</string>
	<key>Etapsilioxia</key>
	<string>Eta</string>
	<key>Etapsilioxiaprosgegrammeni</key>
	<string>Eta</string>
	<key>Etapsiliperispomeni</key>
	<string>Eta</string>
	<key>Etapsiliperispomeniprosgegrammeni</key>
	<string>Eta</string>
	<key>Etapsiliprosgegrammeni</key>
	<string>Eta</string>
	<key>Etapsilivaria</key>
	<string>Eta</string>
	<key>Etapsilivariaprosgegrammeni</key>
	<string>Eta</string>
	<key>Etatonos</key>
	<string>Eta</string>
	<key>Etavaria</key>
	<string>Eta</string>
	<key>Etilde</key>
	<string>E</string>
	<key>Etildebelow</key>
	<string>E</string>
	<key>Ezhcaron</key>
	<string>Ezh</string>
	<key>Fdotaccent</key>
	<string>F</string>
	<key>Gacute</key>
	<string>G</string>
	<key>Gbreve</key>
	<string>G</string>
	<key>Gcaron</key>
	<string>G</string>
	<key>Gcircumflex</key>
	<string>G</string>
	<key>Gcommaaccent</key>
	<string>G</string>
	<key>Gdotaccent</key>
	<string>G</string>
	<key>Gje-cy</key>
	<string>Ge-cy</string>
	<key>Gmacron</key>
	<string>G</string>
	<key>Hbrevebelow</key>
	<string>H</string>
	<key>Hcaron</key>
	<string>H</string>
	<key>Hcedilla</key>
	<string>H</string>
	<key>Hcircumflex</key>
	<string>H</string>
	<key>Hdieresis</key>
	<string>H</string>
	<key>Hdotaccent</key>
	<string>H</string>
	<key>Hdotbelow</key>
	<string>H</string>
	<key>Iacute</key>
	<string>I</string>
	<key>Ibreve</key>
	<string>I</string>
	<key>Icaron</key>
	<string>I</string>
	<key>Icircumflex</key>
	<string>I</string>
	<key>Idblgrave</key>
	<string>I</string>
	<key>Idieresis</key>
	<string>I</string>
	<key>Idieresis-cy</key>
	<string>Ii-cy</string>
	<key>Idieresisacute</key>
	<string>I</string>
	<key>Idotaccent</key>
	<string>I</string>
	<key>Idotbelow</key>
	<string>I</string>
	<key>Iebreve-cy</key>
	<string>Ie-cy</string>
	<key>Iegrave-cy</key>
	<string>Ie-cy</string>
	<key>Igrave</key>
	<string>I</string>
	<key>Ihookabove</key>
	<string>I</string>
	<key>Iigrave-cy</key>
	<string>Ii-cy</string>
	<key>Iinvertedbreve</key>
	<string>I</string>
	<key>Iishort-cy</key>
	<string>Ii-cy</string>
	<key>Imacron</key>
	<string>I</string>
	<key>Imacron-cy</key>
	<string>Ii-cy</string>
	<key>Io-cy</key>
	<string>Ie-cy</string>
	<key>Iogonek</key>
	<string>I</string>
	<key>Iotadasia</key>
	<string>Iota</string>
	<key>Iotadasiaoxia</key>
	<string>Iota</string>
	<key>Iotadasiaperispomeni</key>
	<string>Iota</string>
	<key>Iotadasiavaria</key>
	<string>Iota</string>
	<key>Iotadieresis</key>
	<string>Iota</string>
	<key>Iotamacron</key>
	<string>Iota</string>
	<key>Iotapsili</key>
	<string>Iota</string>
	<key>Iotapsilioxia</key>
	<string>Iota</string>
	<key>Iotapsiliperispomeni</key>
	<string>Iota</string>
	<key>Iotapsilivaria</key>
	<string>Iota</string>
	<key>Iotatonos</key>
	<string>Iota</string>
	<key>Iotavaria</key>
	<string>Iota</string>
	<key>Iotavrachy</key>
	<string>Iota</string>
	<key>Itilde</key>
	<string>I</string>
	<key>Itildebelow</key>
	<string>I</string>
	<key>Izhitsadblgrave-cy</key>
	<string>Izhitsa-cy</string>
	<key>Jcircumflex</key>
	<string>J</string>
	<key>Kacute</key>
	<string>K</string>
	<key>Kcaron</key>
	<string>K</string>
	<key>Kcommaaccent</key>
	<string>K</string>
	<key>Kdotbelow</key>
	<string>K</string>
	<key>Kje-cy</key>
	<string>Ka-cy</string>
	<key>Kmacronbelow</key>
	<string>K</string>
	<key>Lacute</key>
	<string>L</string>
	<key>Lcaron</key>
	<string>L</string>
	<key>Lcircumflexbelow</key>
	<string>L</string>
	<key>Lcommaaccent</key>
	<string>L</string>
	<key>Ldotbelow</key>
	<string>L</string>
	<key>Ldotbelowmacron</key>
	<string>L</string>
	<key>Lmacronbelow</key>
	<string>L</string>
	<key>Macute</key>
	<string>M</string>
	<key>Mdotaccent</key>
	<string>M</string>
	<key>Mdotbelow</key>
	<string>M</string>
	<key>Nacute</key>
	<string>N</string>
	<key>Ncaron</key>
	<string>N</string>
	<key>Ncircumflexbelow</key>
	<string>N</string>
	<key>Ncommaaccent</key>
	<string>N</string>
	<key>Ndotaccent</key>
	<string>N</string>
	<key>Ndotbelow</key>
	<string>N</string>
	<key>Ngrave</key>
	<string>N</string>
	<key>Nmacronbelow</key>
	<string>N</string>
	<key>Ntilde</key>
	<string>N</string>
	<key>Oacute</key>
	<string>O</string>
	<key>Obarreddieresis-cy</key>
	<string>Obarred-cy</string>
	<key>Obreve</key>
	<string>O</string>
	<key>Ocaron</key>
	<string>O</string>
	<key>Ocircumflex</key>
	<string>O</string>
	<key>Ocircumflexacute</key>
	<string>O</string>
	<key>Ocircumflexdotbelow</key>
	<string>O</string>
	<key>Ocircumflexgrave</key>
	<string>O</string>
	<key>Ocircumflexhookabove</key>
	<string>O</string>
	<key>Ocircumflextilde</key>
	<string>O</string>
	<key>Odblgrave</key>
	<string>O</string>
	<key>Odieresis</key>
	<string>O</string>
	<key>Odieresis-cy</key>
	<string>O-cy</string>
	<key>Odieresismacron</key>
	<string>O</string>
	<key>Odotaccent</key>
	<string>O</string>
	<key>Odotaccentmacron</key>
	<string>O</string>
	<key>Odotbelow</key>
	<string>O</string>
	<key>Ograve</key>
	<string>O</string>
	<key>Ohookabove</key>
	<string>O</string>
	<key>Ohungarumlaut</key>
	<string>O</string>
	<key>Oinvertedbreve</key>
	<string>O</string>
	<key>Omacron</key>
	<string>O</string>
	<key>Omacronacute</key>
	<string>O</string>
	<key>Omacrongrave</key>
	<string>O</string>
	<key>Omegadasia</key>
	<string>Omega</string>
	<key>Omegadasiaoxia</key>
	<string>Omega</string>
	<key>Omegadasiaoxiaprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegadasiaperispomeni</key>
	<string>Omega</string>
	<key>Omegadasiaperispomeniprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegadasiaprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegadasiavaria</key>
	<string>Omega</string>
	<key>Omegadasiavariaprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegaprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegapsili</key>
	<string>Omega</string>
	<key>Omegapsilioxia</key>
	<string>Omega</string>
	<key>Omegapsilioxiaprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegapsiliperispomeni</key>
	<string>Omega</string>
	<key>Omegapsiliperispomeniprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegapsiliprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegapsilivaria</key>
	<string>Omega</string>
	<key>Omegapsilivariaprosgegrammeni</key>
	<string>Omega</string>
	<key>Omegatonos</key>
	<string>Omega</string>
	<key>Omegavaria</key>
	<string>Omega</string>
	<key>Omicrondasia</key>
	<string>Omicron</string>
	<key>Omicrondasiaoxia</key>
	<string>Omicron</string>
	<key>Omicrondasiavaria</key>
	<string>Omicron</string>
	<key>Omicronpsili</key>
	<string>Omicron</string>
	<key>Omicronpsilioxia</key>
	<string>Omicron</string>
	<key>Omicronpsilivaria</key>
	<string>Omicron</string>
	<key>Omicrontonos</key>
	<string>Omicron</string>
	<key>Omicronvaria</key>
	<string>Omicron</string>
	<key>Oogonek</key>
	<string>O</string>
	<key>Oogonekmacron</key>
	<string>O</string>
	<key>Oslashacute</key>
	<string>Oslash</string>
	<key>Otilde</key>
	<string>O</string>
	<key>Otildeacute</key>
	<string>O</string>
	<key>Otildedieresis</key>
	<string>O</string>
	<key>Otildemacron</key>
	<string>O</string>
	<key>Pacute</key>
	<string>P</string>
	<key>Pdotaccent</key>
	<string>P</string>
	<key>Racute</key>
	<string>R</string>
	<key>Rcaron</key>
	<string>R</string>
	<key>Rcommaaccent</key>
	<string>R</string>
	<key>Rdblgrave</key>
	<string>R</string>
	<key>Rdotaccent</key>
	<string>R</string>
	<key>Rdotbelow</key>
	<string>R</string>
	<key>Rdotbelowmacron</key>
	<string>R</string>
	<key>Rhodasia</key>
	<string>Rho</string>
	<key>Rinvertedbreve</key>
	<string>R</string>
	<key>Rmacronbelow</key>
	<string>R</string>
	<key>Sacute</key>
	<string>S</string>
	<key>Sacutedotaccent</key>
	<string>S</string>
	<key>Scaron</key>
	<string>S</string>
	<key>Scarondotaccent</key>
	<string>S</string>
	<key>Scedilla</key>
	<string>S</string>
	<key>Schwadieresis-cy</key>
	<string>Schwa-cy</string>
	<key>Scircumflex</key>
	<string>S</string>
	<key>Scommaaccent</key>
	<string>S</string>
	<key>Sdotaccent</key>
	<string>S</string>
	<key>Sdotbelow</key>
	<string>S</string>
	<key>Sdotbelowdotaccent</key>
	<string>S</string>
	<key>Tcaron</key>
	<string>T</string>
	<key>Tcedilla</key>
	<string>T</string>
	<key>Tcircumflexbelow</key>
	<string>T</string>
	<key>Tcommaaccent</key>
	<string>T</string>
	<key>Tdotaccent</key>
	<string>T</string>
	<key>Tdotbelow</key>
	<string>T</string>
	<key>Tmacronbelow</key>
	<string>T</string>
	<key>Uacute</key>
	<string>U</string>
	<key>Ubreve</key>
	<string>U</string>
	<key>Ucaron</key>
	<string>U</string>
	<key>Ucircumflex</key>
	<string>U</string>
	<key>Ucircumflexbelow</key>
	<string>U</string>
	<key>Udblgrave</key>
	<string>U</string>
	<key>Udieresis</key>
	<string>U</string>
	<key>Udieresis-cy</key>
	<string>U-cy</string>
	<key>Udieresisacute</key>
	<string>U</string>
	<key>Udieresisbelow</key>
	<string>U</string>
	<key>Udieresiscaron</key>
	<string>U</string>
	<key>Udieresisgrave</key>
	<string>U</string>
	<key>Udieresismacron</key>
	<string>U</string>
	<key>Udotbelow</key>
	<string>U</string>
	<key>Ugrave</key>
	<string>U</string>
	<key>Uhookabove</key>
	<string>U</string>
	<key>Uhungarumlaut</key>
	<string>U</string>
	<key>Uhungarumlaut-cy</key>
	<string>U-cy</string>
	<key>Uinvertedbreve</key>
	<string>U</string>
	<key>Umacron</key>
	<string>U</string>
	<key>Umacron-cy</key>
	<string>U-cy</string>
	<key>Umacrondieresis</key>
	<string>U</string>
	<key>Uogonek</key>
	<string>U</string>
	<key>Upsilondasia</key>
	<string>Upsilon</string>
	<key>Upsilondasiaoxia</key>
	<string>Upsilon</string>
	<key>Upsilondasiaperispomeni</key>
	<string>Upsilon</string>
	<key>Upsilondasiavaria</key>
	<string>Upsilon</string>
	<key>Upsilondieresis</key>
	<string>Upsilon</string>
	<key>Upsilonmacron</key>
	<string>Upsilon</string>
	<key>Upsilontonos</key>
	<string>Upsilon</string>
	<key>Upsilonvaria</key>
	<string>Upsilon</string>
	<key>Upsilonvrachy</key>
	<string>Upsilon</string>
	<key>Uring</key>
	<string>U</string>
	<key>Ushort-cy</key>
	<string>U-cy</string>
	<key>Utilde</key>
	<string>U</string>
	<key>Utildeacute</key>
	<string>U</string>
	<key>Utildebelow</key>
	<string>U</string>
	<key>Vdotbelow</key>
	<string>V</string>
	<key>Vtilde</key>
	<string>V</string>
	<key>Wacute</key>
	<string>W</string>
	<key>Wcircumflex</key>
	<string>W</string>
	<key>Wdieresis</key>
	<string>W</string>
	<key>Wdotaccent</key>
	<string>W</string>
	<key>Wdotbelow</key>
	<string>W</string>
	<key>Wgrave</key>
	<string>W</string>
	<key>Xdieresis</key>
	<string>X</string>
	<key>Xdotaccent</key>
	<string>X</string>
	<key>Yacute</key>
	<string>Y</string>
	<key>Ycircumflex</key>
	<string>Y</string>
	<key>Ydieresis</key>
	<string>Y</string>
	<key>Ydotaccent</key>
	<string>Y</string>
	<key>Ydotbelow</key>
	<string>Y</string>
	<key>Yerudieresis-cy</key>
	<string>Yeru-cy</string>
	<key>Ygrave</key>
	<string>Y</string>
	<key>Yhookabove</key>
	<string>Y</string>
	<key>Yi-cy</key>
	<string>I-cy</string>
	<key>Ymacron</key>
	<string>Y</string>
	<key>Ytilde</key>
	<string>Y</string>
	<key>Zacute</key>
	<string>Z</string>
	<key>Zcaron</key>
	<string>Z</string>
	<key>Zcircumflex</key>
	<string>Z</string>
	<key>Zdotaccent</key>
	<string>Z</string>
	<key>Zdotbelow</key>
	<string>Z</string>
	<key>Zedieresis-cy</key>
	<string>Ze-cy</string>
	<key>Zhebreve-cy</key>
	<string>Zhe-cy</string>
	<key>Zhedieresis-cy</key>
	<string>Zhe-cy</string>
	<key>Zmacronbelow</key>
	<string>Z</string>
	<key>aacute</key>
	<string>a</string>
	<key>abreve</key>
	<string>a</string>
	<key>abreve-cy</key>
	<string>a-cy</string>
	<key>abreveacute</key>
	<string>a</string>
	<key>abrevedotbelow</key>
	<string>a</string>
	<key>abrevegrave</key>
	<string>a</string>
	<key>abrevehookabove</key>
	<string>a</string>
	<key>abrevetilde</key>
	<string>a</string>
	<key>acaron</key>
	<string>a</string>
	<key>acircumflex</key>
	<string>a</string>
	<key>acircumflexacute</key>
	<string>a</string>
	<key>acircumflexdotbelow</key>
	<string>a</string>
	<key>acircumflexgrave</key>
	<string>a</string>
	<key>acircumflexhookabove</key>
	<string>a</string>
	<key>acircumflextilde</key>
	<string>a</string>
	<key>adblgrave</key>
	<string>a</string>
	<key>adieresis</key>
	<string>a</string>
	<key>adieresis-cy</key>
	<string>a-cy</string>
	<key>adieresismacron</key>
	<string>a</string>
	<key>adotaccent</key>
	<string>a</string>
	<key>adotbelow</key>
	<string>a</string>
	<key>adotmacron</key>
	<string>a</string>
	<key>aeacute</key>
	<string>ae</string>
	<key>aemacron</key>
	<string>ae</string>
	<key>agrave</key>
	<string>a</string>
	<key>ahookabove</key>
	<string>a</string>
	<key>ainvertedbreve</key>
	<string>a</string>
	<key>alefHamzaabove-ar</key>
	<string>alef-ar</string>
	<key>alefHamzabelow-ar</key>
	<string>alef-ar</string>
	<key>alefMadda-ar</key>
	<string>alef-ar</string>
	<key>alphadasia</key>
	<string>alpha</string>
	<key>alphadasiaoxia</key>
	<string>alpha</string>
	<key>alphadasiaoxiaypogegrammeni</key>
	<string>alpha</string>
	<key>alphadasiaperispomeni</key>
	<string>alpha</string>
	<key>alphadasiaperispomeniypogegrammeni</key>
	<string>alpha</string>
	<key>alphadasiavaria</key>
	<string>alpha</string>
	<key>alphadasiavariaypogegrammeni</key>
	<string>alpha</string>
	<key>alphadasiaypogegrammeni</key>
	<string>alpha</string>
	<key>alphamacron</key>
	<string>alpha</string>
	<key>alphaoxiaypogegrammeni</key>
	<string>alpha</string>
	<key>alphaperispomeni</key>
	<string>alpha</string>
	<key>alphaperispomeniypogegrammeni</key>
	<string>alpha</string>
	<key>alphapsili</key>
	<string>alpha</string>
	<key>alphapsilioxia</key>
	<string>alpha</string>
	<key>alphapsilioxiaypogegrammeni</key>
	<string>alpha</string>
	<key>alphapsiliperispomeni</key>
	<string>alpha</string>
	<key>alphapsiliperispomeniypogegrammeni</key>
	<string>alpha</string>
	<key>alphapsilivaria</key>
	<string>alpha</string>
	<key>alphapsilivariaypogegrammeni</key>
	<string>alpha</string>
	<key>alphapsiliypogegrammeni</key>
	<string>alpha</string>
	<key>alphatonos</key>
	<string>alpha</string>
	<key>alphavaria</key>
	<string>alpha</string>
	<key>alphavariaypogegrammeni</key>
	<string>alpha</string>
	<key>alphavrachy</key>
	<string>alpha</string>
	<key>alphaypogegrammeni</key>
	<string>alpha</string>
	<key>amacron</key>
	<string>a</string>
	<key>aogonek</key>
	<string>a</string>
	<key>aring</key>
	<string>a</string>
	<key>aringacute</key>
	<string>a</string>
	<key>aringbelow</key>
	<string>a</string>
	<key>atilde</key>
	<string>a</string>
	<key>bdotaccent</key>
	<string>b</string>
	<key>bdotbelow</key>
	<string>b</string>
	<key>bmacronbelow</key>
	<string>b</string>
	<key>cacute</key>
	<string>c</string>
	<key>ccaron</key>
	<string>c</string>
	<key>ccedilla</key>
	<string>c</string>
	<key>ccedillaacute</key>
	<string>c</string>
	<key>ccircumflex</key>
	<string>c</string>
	<key>cdotaccent</key>
	<string>c</string>
	<key>chedieresis-cy</key>
	<string>che-cy</string>
	<key>dcaron</key>
	<string>d</string>
	<key>dcedilla</key>
	<string>d</string>
	<key>dcircumflexbelow</key>
	<string>d</string>
	<key>ddotaccent</key>
	<string>d</string>
	<key>ddotbelow</key>
	<string>d</string>
	<key>dialytikatonoscomb</key>
	<string>dieresiscomb</string>
	<key>dmacronbelow</key>
	<string>d</string>
	<key>eacute</key>
	<string>e</string>
	<key>ebreve</key>
	<string>e</string>
	<key>ecaron</key>
	<string>e</string>
	<key>ecedilla</key>
	<string>e</string>
	<key>ecedillabreve</key>
	<string>e</string>
	<key>ecircumflex</key>
	<string>e</string>
	<key>ecircumflexacute</key>
	<string>e</string>
	<key>ecircumflexbelow</key>
	<string>e</string>
	<key>ecircumflexdotbelow</key>
	<string>e</string>
	<key>ecircumflexgrave</key>
	<string>e</string>
	<key>ecircumflexhookabove</key>
	<string>e</string>
	<key>ecircumflextilde</key>
	<string>e</string>
	<key>edblgrave</key>
	<string>e</string>
	<key>edieresis</key>
	<string>e</string>
	<key>edieresis-cy</key>
	<string>ereversed-cy</string>
	<key>edotaccent</key>
	<string>e</string>
	<key>edotbelow</key>
	<string>e</string>
	<key>egrave</key>
	<string>e</string>
	<key>ehookabove</key>
	<string>e</string>
	<key>einvertedbreve</key>
	<string>e</string>
	<key>emacron</key>
	<string>e</string>
	<key>emacronacute</key>
	<string>e</string>
	<key>emacrongrave</key>
	<string>e</string>
	<key>eogonek</key>
	<string>e</string>
	<key>epsilondasia</key>
	<string>epsilon</string>
	<key>epsilondasiaoxia</key>
	<string>epsilon</string>
	<key>epsilondasiavaria</key>
	<string>epsilon</string>
	<key>epsilonpsili</key>
	<string>epsilon</string>
	<key>epsilonpsilioxia</key>
	<string>epsilon</string>
	<key>epsilonpsilivaria</key>
	<string>epsilon</string>
	<key>epsilontonos</key>
	<string>epsilon</string>
	<key>epsilonvaria</key>
	<string>epsilon</string>
	<key>etadasia</key>
	<string>eta</string>
	<key>etadasiaoxia</key>
	<string>eta</string>
	<key>etadasiaoxiaypogegrammeni</key>
	<string>eta</string>
	<key>etadasiaperispomeni</key>
	<string>eta</string>
	<key>etadasiaperispomeniypogegrammeni</key>
	<string>eta</string>
	<key>etadasiavaria</key>
	<string>eta</string>
	<key>etadasiavariaypogegrammeni</key>
	<string>eta</string>
	<key>etadasiaypogegrammeni</key>
	<string>eta</string>
	<key>etaoxiaypogegrammeni</key>
	<string>eta</string>
	<key>etaperispomeni</key>
	<string>eta</string>
	<key>etaperispomeniypogegrammeni</key>
	<string>eta</string>
	<key>etapsili</key>
	<string>eta</string>
	<key>etapsilioxia</key>
	<string>eta</string>
	<key>etapsilioxiaypogegrammeni</key>
	<string>eta</string>
	<key>etapsiliperispomeni</key>
	<string>eta</string>
	<key>etapsiliperispomeniypogegrammeni</key>
	<string>eta</string>
	<key>etapsilivaria</key>
	<string>eta</string>
	<key>etapsilivariaypogegrammeni</key>
	<string>eta</string>
	<key>etapsiliypogegrammeni</key>
	<string>eta</string>
	<key>etatonos</key>
	<string>eta</string>
	<key>etavaria</key>
	<string>eta</string>
	<key>etavariaypogegrammeni</key>
	<string>eta</string>
	<key>etaypogegrammeni</key>
	<string>eta</string>
	<key>etilde</key>
	<string>e</string>
	<key>etildebelow</key>
	<string>e</string>
	<key>ezhcaron</key>
	<string>ezh</string>
	<key>fdotaccent</key>
	<string>f</string>
	<key>gacute</key>
	<string>g</string>
	<key>gbreve</key>
	<string>g</string>
	<key>gcaron</key>
	<string>g</string>
	<key>gcircumflex</key>
	<string>g</string>
	<key>gcommaaccent</key>
	<string>g</string>
	<key>gdotaccent</key>
	<string>g</string>
	<key>gje-cy</key>
	<string>ge-cy</string>
	<key>gmacron</key>
	<string>g</string>
	<key>hbrevebelow</key>
	<string>h</string>
	<key>hcaron</key>
	<string>h</string>
	<key>hcedilla</key>
	<string>h</string>
	<key>hcircumflex</key>
	<string>h</string>
	<key>hdieresis</key>
	<string>h</string>
	<key>hdotaccent</key>
	<string>h</string>
	<key>hdotbelow</key>
	<string>h</string>
	<key>hehHamzaabove-ar</key>
	<string>ae-ar</string>
	<key>hehgoalHamzaabove-ar</key>
	<string>hehgoal-ar</string>
	<key>hmacronbelow</key>
	<string>h</string>
	<key>iacute</key>
	<string>i</string>
	<key>ibreve</key>
	<string>i</string>
	<key>icaron</key>
	<string>i</string>
	<key>icircumflex</key>
	<string>i</string>
	<key>idblgrave</key>
	<string>i</string>
	<key>idieresis</key>
	<string>i</string>
	<key>idieresis-cy</key>
	<string>ii-cy</string>
	<key>idieresisacute</key>
	<string>i</string>
	<key>idotbelow</key>
	<string>i</string>
	<key>iebreve-cy</key>
	<string>ie-cy</string>
	<key>iegrave-cy</key>
	<string>ie-cy</string>
	<key>igrave</key>
	<string>i</string>
	<key>ihookabove</key>
	<string>i</string>
	<key>iigrave-cy</key>
	<string>ii-cy</string>
	<key>iinvertedbreve</key>
	<string>i</string>
	<key>iishort-cy</key>
	<string>ii-cy</string>
	<key>imacron</key>
	<string>i</string>
	<key>imacron-cy</key>
	<string>ii-cy</string>
	<key>io-cy</key>
	<string>ie-cy</string>
	<key>iogonek</key>
	<string>i</string>
	<key>iotadasia</key>
	<string>iota</string>
	<key>iotadasiaoxia</key>
	<string>iota</string>
	<key>iotadasiaperispomeni</key>
	<string>iota</string>
	<key>iotadasiavaria</key>
	<string>iota</string>
	<key>iotadialytikaperispomeni</key>
	<string>iota</string>
	<key>iotadialytikavaria</key>
	<string>iota</string>
	<key>iotadieresis</key>
	<string>iota</string>
	<key>iotadieresistonos</key>
	<string>iota</string>
	<key>iotamacron</key>
	<string>iota</string>
	<key>iotaperispomeni</key>
	<string>iota</string>
	<key>iotapsili</key>
	<string>iota</string>
	<key>iotapsilioxia</key>
	<string>iota</string>
	<key>iotapsiliperispomeni</key>
	<string>iota</string>
	<key>iotapsilivaria</key>
	<string>iota</string>
	<key>iotatonos</key>
	<string>iota</string>
	<key>iotavaria</key>
	<string>iota</string>
	<key>iotavrachy</key>
	<string>iota</string>
	<key>itilde</key>
	<string>i</string>
	<key>itildebelow</key>
	<string>i</string>
	<key>izhitsadblgrave-cy</key>
	<string>izhitsa-cy</string>
	<key>jcaron</key>
	<string>j</string>
	<key>jcircumflex</key>
	<string>j</string>
	<key>kacute</key>
	<string>k</string>
	<key>kcaron</key>
	<string>k</string>
	<key>kcommaaccent</key>
	<string>k</string>
	<key>kdotbelow</key>
	<string>k</string>
	<key>kje-cy</key>
	<string>ka-cy</string>
	<key>kmacronbelow</key>
	<string>k</string>
	<key>lacute</key>
	<string>l</string>
	<key>lcaron</key>
	<string>l</string>
	<key>lcircumflexbelow</key>
	<string>l</string>
	<key>lcommaaccent</key>
	<string>l</string>
	<key>ldotbelow</key>
	<string>l</string>
	<key>ldotbelowmacron</key>
	<string>l</string>
	<key>lmacronbelow</key>
	<string>l</string>
	<key>macute</key>
	<string>m</string>
	<key>mdotaccent</key>
	<string>m</string>
	<key>mdotbelow</key>
	<string>m</string>
	<key>nacute</key>
	<string>n</string>
	<key>ncaron</key>
	<string>n</string>
	<key>ncircumflexbelow</key>
	<string>n</string>
	<key>ncommaaccent</key>
	<string>n</string>
	<key>ndotaccent</key>
	<string>n</string>
	<key>ndotbelow</key>
	<string>n</string>
	<key>ngrave</key>
	<string>n</string>
	<key>nmacronbelow</key>
	<string>n</string>
	<key>ntilde</key>
	<string>n</string>
	<key>oacute</key>
	<string>o</string>
	<key>obarreddieresis-cy</key>
	<string>obarred-cy</string>
	<key>obreve</key>
	<string>o</string>
	<key>ocaron</key>
	<string>o</string>
	<key>ocircumflex</key>
	<string>o</string>
	<key>ocircumflexacute</key>
	<string>o</string>
	<key>ocircumflexdotbelow</key>
	<string>o</string>
	<key>ocircumflexgrave</key>
	<string>o</string>
	<key>ocircumflexhookabove</key>
	<string>o</string>
	<key>ocircumflextilde</key>
	<string>o</string>
	<key>odblgrave</key>
	<string>o</string>
	<key>odieresis</key>
	<string>o</string>
	<key>odieresis-cy</key>
	<string>o-cy</string>
	<key>odieresismacron</key>
	<string>o</string>
	<key>odotaccent</key>
	<string>o</string>
	<key>odotaccentmacron</key>
	<string>o</string>
	<key>odotbelow</key>
	<string>o</string>
	<key>ograve</key>
	<string>o</string>
	<key>ohookabove</key>
	<string>o</string>
	<key>ohungarumlaut</key>
	<string>o</string>
	<key>oinvertedbreve</key>
	<string>o</string>
	<key>omacron</key>
	<string>o</string>
	<key>omacronacute</key>
	<string>o</string>
	<key>omacrongrave</key>
	<string>o</string>
	<key>omegadasia</key>
	<string>omega</string>
	<key>omegadasiaoxia</key>
	<string>omega</string>
	<key>omegadasiaoxiaypogegrammeni</key>
	<string>omega</string>
	<key>omegadasiaperispomeni</key>
	<string>omega</string>
	<key>omegadasiaperispomeniypogegrammeni</key>
	<string>omega</string>
	<key>omegadasiavaria</key>
	<string>omega</string>
	<key>omegadasiavariaypogegrammeni</key>
	<string>omega</string>
	<key>omegadasiaypogegrammeni</key>
	<string>omega</string>
	<key>omegaoxiaypogegrammeni</key>
	<string>omega</string>
	<key>omegaperispomeni</key>
	<string>omega</string>
	<key>omegaperispomeniypogegrammeni</key>
	<string>omega</string>
	<key>omegapsili</key>
	<string>omega</string>
	<key>omegapsilioxia</key>
	<string>omega</string>
	<key>omegapsilioxiaypogegrammeni</key>
	<string>omega</string>
	<key>omegapsiliperispomeni</key>
	<string>omega</string>
	<key>omegapsiliperispomeniypogegrammeni</key>
	<string>omega</string>
	<key>omegapsilivaria</key>
	<string>omega</string>
	<key>omegapsilivariaypogegrammeni</key>
	<string>omega</string>
	<key>omegapsiliypogegrammeni</key>
	<string>omega</string>
	<key>omegatonos</key>
	<string>omega</string>
	<key>omegavaria</key>
	<string>omega</string>
	<key>omegavariaypogegrammeni</key>
	<string>omega</string>
	<key>omegaypogegrammeni</key>
	<string>omega</string>
	<key>omicrondasia</key>
	<string>omicron</string>
	<key>omicrondasiaoxia</key>
	<string>omicron</string>
	<key>omicrondasiavaria</key>
	<string>omicron</string>
	<key>omicronpsili</key>
	<string>omicron</string>
	<key>omicronpsilioxia</key>
	<string>omicron</string>
	<key>omicronpsilivaria</key>
	<string>omicron</string>
	<key>omicrontonos</key>
	<string>omicron</string>
	<key>omicronvaria</key>
	<string>omicron</string>
	<key>oogonek</key>
	<string>o</string>
	<key>oogonekmacron</key>
	<string>o</string>
	<key>oslashacute</key>
	<string>oslash</string>
	<key>otilde</key>
	<string>o</string>
	<key>otildeacute</key>
	<string>o</string>
	<key>otildedieresis</key>
	<string>o</string>
	<key>otildemacron</key>
	<string>o</string>
	<key>pacute</key>
	<string>p</string>
	<key>pdotaccent</key>
	<string>p</string>
	<key>racute</key>
	<string>r</string>
	<key>rcaron</key>
	<string>r</string>
	<key>rcommaaccent</key>
	<string>r</string>
	<key>rdblgrave</key>
	<string>r</string>
	<key>rdotaccent</key>
	<string>r</string>
	<key>rdotbelow</key>
	<string>r</string>
	<key>rdotbelowmacron</key>
	<string>r</string>
	<key>rhodasia</key>
	<string>rho</string>
	<key>rhopsili</key>
	<string>rho</string>
	<key>rinvertedbreve</key>
	<string>r</string>
	<key>rmacronbelow</key>
	<string>r</string>
	<key>sacute</key>
	<string>s</string>
	<key>sacutedotaccent</key>
	<string>s</string>
	<key>scaron</key>
	<string>s</string>
	<key>scarondotaccent</key>
	<string>s</string>
	<key>scedilla</key>
	<string>s</string>
	<key>schwadieresis-cy</key>
	<string>schwa-cy</string>
	<key>scircumflex</key>
	<string>s</string>
	<key>scommaaccent</key>
	<string>s</string>
	<key>sdotaccent</key>
	<string>s</string>
	<key>sdotbelow</key>
	<string>s</string>
	<key>sdotbelowdotaccent</key>
	<string>s</string>
	<key>tcaron</key>
	<string>t</string>
	<key>tcedilla</key>
	<string>t</string>
	<key>tcircumflexbelow</key>
	<string>t</string>
	<key>tcommaaccent</key>
	<string>t</string>
	<key>tdieresis</key>
	<string>t</string>
	<key>tdotaccent</key>
	<string>t</string>
	<key>tdotbelow</key>
	<string>t</string>
	<key>tmacronbelow</key>
	<string>t</string>
	<key>uacute</key>
	<string>u</string>
	<key>ubreve</key>
	<string>u</string>
	<key>ucaron</key>
	<string>u</string>
	<key>ucircumflex</key>
	<string>u</string>
	<key>ucircumflexbelow</key>
	<string>u</string>
	<key>udblgrave</key>
	<string>u</string>
	<key>udieresis</key>
	<string>u</string>
	<key>udieresis-cy</key>
	<string>u-cy</string>
	<key>udieresisacute</key>
	<string>u</string>
	<key>udieresisbelow</key>
	<string>u</string>
	<key>udieresiscaron</key>
	<string>u</string>
	<key>udieresisgrave</key>
	<string>u</string>
	<key>udieresismacron</key>
	<string>u</string>
	<key>udotbelow</key>
	<string>u</string>
	<key>ugrave</key>
	<string>u</string>
	<key>uhookabove</key>
	<string>u</string>
	<key>uhungarumlaut</key>
	<string>u</string>
	<key>uhungarumlaut-cy</key>
	<string>u-cy</string>
	<key>uinvertedbreve</key>
	<string>u</string>
	<key>umacron</key>
	<string>u</string>
	<key>umacron-cy</key>
	<string>u-cy</string>
	<key>umacrondieresis</key>
	<string>u</string>
	<key>uogonek</key>
	<string>u</string>
	<key>upsilondasia</key>
	<string>upsilon</string>
	<key>upsilondasiaoxia</key>
	<string>upsilon</string>
	<key>upsilondasiaperispomeni</key>
	<string>upsilon</string>
	<key>upsilondasiavaria</key>
	<string>upsilon</string>
	<key>upsilondialytikaperispomeni</key>
	<string>upsilon</string>
	<key>upsilondialytikavaria</key>
	<string>upsilon</string>
	<key>upsilondieresis</key>
	<string>upsilon</string>
	<key>upsilondieresistonos</key>
	<string>upsilon</string>
	<key>upsilonmacron</key>
	<string>upsilon</string>
	<key>upsilonperispomeni</key>
	<string>upsilon</string>
	<key>upsilonpsili</key>
	<string>upsilon</string>
	<key>upsilonpsilioxia</key>
	<string>upsilon</string>
	<key>upsilonpsiliperispomeni</key>
	<string>upsilon</string>
	<key>upsilonpsilivaria</key>
	<string>upsilon</string>
	<key>upsilontonos</key>
	<string>upsilon</string>
	<key>upsilonvaria</key>
	<string>upsilon</string>
	<key>upsilonvrachy</key>
	<string>upsilon</string>
	<key>uring</key>
	<string>u</string>
	<key>ushort-cy</key>
	<string>u-cy</string>
	<key>utilde</key>
	<string>u</string>
	<key>utildeacute</key>
	<string>u</string>
	<key>utildebelow</key>
	<string>u</string>
	<key>vdotbelow</key>
	<string>v</string>
	<key>vtilde</key>
	<string>v</string>
	<key>wacute</key>
	<string>w</string>
	<key>wawHamzaabove-ar</key>
	<string>waw-ar</string>
	<key>wcircumflex</key>
	<string>w</string>
	<key>wdieresis</key>
	<string>w</string>
	<key>wdotaccent</key>
	<string>w</string>
	<key>wdotbelow</key>
	<string>w</string>
	<key>wgrave</key>
	<string>w</string>
	<key>wring</key>
	<string>w</string>
	<key>xdieresis</key>
	<string>x</string>
	<key>xdotaccent</key>
	<string>x</string>
	<key>yacute</key>
	<string>y</string>
	<key>ycircumflex</key>
	<string>y</string>
	<key>ydieresis</key>
	<string>y</string>
	<key>ydotaccent</key>
	<string>y</string>
	<key>ydotbelow</key>
	<string>y</string>
	<key>yehHamzaabove-ar</key>
	<string>yeh-ar</string>
	<key>yehbarreeHamzaabove-ar</key>
	<string>yehbarree-ar</string>
	<key>yerudieresis-cy</key>
	<string>yeru-cy</string>
	<key>ygrave</key>
	<string>y</string>
	<key>yhookabove</key>
	<string>y</string>
	<key>yi-cy</key>
	<string>i-cy</string>
	<key>ymacron</key>
	<string>y</string>
	<key>yring</key>
	<string>y</string>
	<key>ytilde</key>
	<string>y</string>
	<key>zacute</key>
	<string>z</string>
	<key>zcaron</key>
	<string>z</string>
	<key>zcircumflex</key>
	<string>z</string>
	<key>zdotaccent</key>
	<string>z</string>
	<key>zdotbelow</key>
	<string>z</string>
	<key>zedieresis-cy</key>
	<string>ze-cy</string>
	<key>zhebreve-cy</key>
	<string>zhe-cy</string>
	<key>zhedieresis-cy</key>
	<string>zhe-cy</string>
	<key>zmacronbelow</key>
	<string>z</string>
</dict>
</plist>
